/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'Conv_pfagoraslabpro-italicwebfont';
  src: url('fonts/pfagoraslabpro-italicwebfont.eot');
  src: local('☺'), url('fonts/pfagoraslabpro-italicwebfont.woff') format('woff'), url('fonts/pfagoraslabpro-italicwebfont.ttf') format('truetype'), url('fonts/pfagoraslabpro-italicwebfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Pragmatica';
  src: url('fonts/Pragmatica.eot');
  src: local('☺'), url('fonts/Pragmatica.woff') format('woff'), url('fonts/Pragmatica.ttf') format('truetype'), url('fonts/Pragmatica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Pragmatica Bold';
  src: url('fonts/Pragmatica Bold.eot');
  src: local('☺'), url('fonts/Pragmatica Bold.woff') format('woff'), url('fonts/Pragmatica Bold.ttf') format('truetype'), url('fonts/Pragmatica Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Pragmatica BoldItalic';
  src: url('fonts/Pragmatica BoldItalic.eot');
  src: local('☺'), url('fonts/Pragmatica BoldItalic.woff') format('woff'), url('fonts/Pragmatica BoldItalic.ttf') format('truetype'), url('fonts/Pragmatica BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Pragmatica Italic';
  src: url('fonts/Pragmatica Italic.eot');
  src: local('☺'), url('fonts/Pragmatica Italic.woff') format('woff'), url('fonts/Pragmatica Italic.ttf') format('truetype'), url('fonts/Pragmatica Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  min-height: 100%;
}
.fbold,
b {
  font-family: 'Conv_Pragmatica Bold', Sans-Serif;
  font-weight: bold;
}
.fnormal {
  font-family: 'Conv_Pragmatica', Sans-Serif;
  font-weight: normal;
}
.fitalic {
  font-family: san-serif;
  font-size: 12px;
  font-style: italic;
  color: #b6c1c6;
  font-family: 'Conv_pfagoraslabpro-italicwebfont', Sans-Serif;
}
i.icon {
  background-image: url('../img/main_sprite.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}
html.test {
  background-image: url("../png/2NEONLAB1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 2500px;
}
.box_sizing_border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/grey_bg.png");
  background-repeat: repeat-x;
  background-position: 0 55px;
  min-height: 100%;
  background-color: #fbfbfb;
  color: #858e93;
  font-size: 14px;
  font-family: 'Conv_Pragmatica', Sans-Serif;
}
b {
  font-family: "Conv_Pragmatica Bold";
}
.hidden {
  display: none;
}
.vr {
  display: inline-block;
  min-height: 15px;
  min-width: 1px;
  margin: 0 2px;
  background-color: #b6c1c6;
  position: relative;
  top: 3px;
}
.clear {
  float: none !important;
  clear: both;
}
input,
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  min-width: 20px;
}
.button {
  color: white;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.blue_button {
  background-color: #498ad5;
  box-shadow: 0px 2px 2px rgba(176, 191, 204, 0.5);
}
.yellow_button {
  background-color: #ffde00;
  color: #424c58;
  box-shadow: 0px 2px 2px rgba(218, 184, 32, 0.75);
}
input[type='text'] {
  border: 1px solid #cbcbcb;
  padding: 8px;
  font-size: 21px;
  color: #424c58;
}
a,
a:hover,
a:visited,
a:active {
  color: #3782d7;
  text-decoration: none;
}
a.selected {
  color: #b6c1c6;
}
.wrapper {
  min-width: 1022px;
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.head_nav {
  height: 55px;
  width: 100%;
  font-family: Verdana, Helvetica, "san-serif";
}
.head_nav ul {
  list-style: none;
  float: right;
}
.head_nav ul li {
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
}
.head_grey {
  height: 87px;
  color: white;
  padding-left: 29px;
  margin-bottom: 18px;
  background-image: url("../img/logo_finish_may.png");
  background-repeat: no-repeat;
  background-position: center right;
}
.head_grey h1 {
  font-size: 21px;
  text-transform: uppercase;
  padding: 6px;
  font-weight: normal;
  line-height: 1.2;
}
.head_grey p {
  font-size: 12px;
  color: #cbd4de;
  padding-left: 6px;
}
.left_column {
  float: left;
  width: 214px;
  margin-right: 24px;
  padding-left: 29px;
  position: relative;
}
.left_column h2 {
  font-size: 12px;
  font-weight: normal;
  margin: 18px 0 8px;
  padding-left: 8px;
}
.left_column #file_upload input {
  display: none;
  position: absolute;
  width: 140px;
  z-index: 10;
  left: 0;
  cursor: pointer;
}
.left_column .yellow_button {
  display: inline-block;
  width: 141px;
  vertical-align: top;
  overflow: hidden;
}
.left_column .blue_button:before,
.left_column .yellow_button:before,
.left_column .deep_form:before {
  display: block;
  position: absolute;
  height: 45px;
  line-height: 50px;
  width: 20px;
  content: '1.';
  text-align: 'center';
  color: #b6c1c6;
  left: 0px;
}
.left_column .blue_button:before {
  content: '3.';
}
.left_column .deep_form:before {
  content: '2.';
  top: 0px;
  left: -25px;
}
.left_column .blue_button_after {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-image: url("../img/main_sprite.png");
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
}
.left_column .blue_button_after .click_area {
  position: relative;
  width: 20px;
  height: 20px;
  top: 13px;
  left: 8px;
}
.left_column .blue_button_after .status_text {
  position: relative;
  z-index: 100;
}
.left_column .blue_button_after .status_text .status_text_message {
  position: absolute;
  bottom: -45px;
  left: 40px;
  padding: 40px;
  width: 172px;
  background: #f7f7f7;
  box-shadow: 1px 2px 4px #ccc;
  color: #858e93;
}
.left_column .blue_button_after.none__ {
  background-image: none;
}
.left_column .blue_button_after.question {
  background-position: 4px -106px;
}
.left_column .blue_button_after.remove {
  background-image: url("../img/remove_img.png");
  background-position: 7px 12px;
}
.left_column .blue_button_after.success {
  background-position: 7px 11px;
  background-image: url("../img/icon_ok.png");
}
.left_column .blue_button_after.error {
  background-position: 4px -48px;
}
.left_column .blue_button_after.loading {
  background-position: 4px 8px;
  background-image: url("../img/loading_3.gif");
}
.left_column input[type='text'] {
  width: 100%;
  padding-right: 40px;
}
.left_column .deep_form {
  position: relative;
}
.left_column .deep_form .deep_size {
  display: block;
  width: 20px;
  height: 45px;
  line-height: 50px;
  position: absolute;
  right: 3px;
  top: 0px;
  padding-right: 15px;
}
.left_column .blue_button {
  margin-top: 36px;
}
.left_column .comment {
  font-family: san-serif;
  font-size: 12px;
  font-style: italic;
  color: #b6c1c6;
  font-family: 'Conv_pfagoraslabpro-italicwebfont', Sans-Serif;
  padding: 18px 12px 18px 0;
  margin-top: 22px;
}
.main_page {
  width: 752px;
  float: left;
}
.main_page .editor {
  margin-top: 18px;
}
.main_page .editor > div {
  border-radius: 2px;
}
.main_page .editor .editor_head {
  width: 750px;
  height: 34px;
  border: 1px solid #e0e5ef;
  border-bottom: none;
  background-color: white;
  position: relative;
}
.main_page .editor .editor_head .instruments_holder {
  padding-left: 5px;
}
.main_page .editor .editor_head .instruments_holder i {
  background-position: center center;
  height: 32px;
  width: 34px;
  margin: 1px 0;
  opacity: 0.6;
}
.main_page .editor .editor_head .instruments_holder i.selected {
  opacity: 1;
}
.main_page .editor .editor_head .instruments_holder .item_edit {
  background-image: url('../img/canvas/edit_active.png');
}
.main_page .editor .editor_head .instruments_holder .item_add {
  background-image: url('../img/canvas/edit_add_active.png');
}
.main_page .editor .editor_head .instruments_holder .item_remove {
  background-image: url('../img/canvas/edit_rem_active.png');
}
.main_page .editor .editor_head .button {
  width: 170px;
  height: 30px;
  line-height: 33px;
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: #498ad5;
  box-shadow: 0px 2px 2px rgba(176, 191, 204, 0.5);
}
.main_page .editor .editor_head .button i {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-position: -7px -403px;
  margin-right: 3px;
  z-index: 500;
}
.main_page .editor .editor_base.moveItem {
  cursor: url("../img/canvas/edit_active.png") 7 2, pointer;
}
.main_page .editor .editor_base.addItem {
  cursor: url("../img/canvas/edit_add_active.png") 7 2, pointer;
}
.main_page .editor .editor_base.removeItem {
  cursor: url("../img/canvas/edit_rem_active.png") 7 2, pointer;
}
.main_page .editor .editor_base.default {
  cursor: move;
}
.main_page .editor .editor_base {
  width: 750px;
  height: 458px;
  border: 1px solid #e0e5ef;
  background-color: #f7f7f7;
  overflow: hidden;
  position: relative;
}
.main_page .editor .editor_base .zoom_pane {
  position: absolute;
  right: 3px;
  top: 18px;
  z-index: 100;
}
.main_page .editor .editor_base .zoom_pane .zoom_in {
  background-image: url('../img/canvas/zoom_in.png');
}
.main_page .editor .editor_base .zoom_pane .zoom_out {
  background-image: url('../img/canvas/zoom_out.png');
}
.main_page .editor .editor_base .zoom_pane .zoom_fit {
  background-image: url('../img/canvas/zoom_fit.png');
}
.main_page .editor .editor_base .zoom_pane .zoom_full {
  background-image: url('../img/canvas/zoom_1_1.png');
}
.main_page .editor .editor_base .big_loader {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-image: url("../img/loader_big_white.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.15);
}
.main_page .editor .editor_base_after > div {
  height: 108px;
  background-color: #ffffff;
  border: 1px solid #e0e5ef;
  border-width: 0px 1px 1px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .editor .editor_base_after > div .after_left_column {
  position: absolute;
  width: 320px;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .editor .editor_base_after > div .after_left_column h1 {
  text-transform: uppercase;
  color: #272e41;
  margin: 0 0 10px 0;
}
.main_page .editor .editor_base_after > div .after_left_column .label {
  color: #b6c1c6;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 11px;
}
.main_page .editor .editor_base_after > div .after_left_column .data {
  display: inline-block;
  width: 68%;
  color: #272e41;
  font-size: 12px;
  line-height: 15px;
  padding-top: 3px;
}
.main_page .editor .editor_base_after > div .after_right_column {
  padding: 10px 18px 10px 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .editor .editor_base_after > div .after_right_column .top_block {
  text-align: justify;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .editor .editor_base_after > div .after_right_column .top_block .info_block {
  display: inline-block;
  width: 13.8%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px  5px 0  5px;
}
.main_page .editor .editor_base_after > div .after_right_column .top_block .info_block h3 {
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Conv_Pragmatica', Sans-Serif;
  font-weight: normal;
  line-height: 12px;
}
.main_page .editor .editor_base_after > div .after_right_column .top_block .info_block span {
  font-size: 20px;
}
.main_page .editor .editor_base_after > div .after_right_column .top_block .info_block span.digit_dark {
  color: #272e41;
}
.main_page .editor .editor_base_after > div .after_right_column .bottom_block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .editor .editor_base_after > div .after_right_column .bottom_block .info_block {
  color: #b6c1c6;
  font-size: 11px;
  display: inline-block;
  width: 27%;
  padding: 0 5px;
  vertical-align: top;
}
.main_page .editor .editor_base_after > div .after_right_column .bottom_block .info_block div {
  line-height: 14px;
}
.main_page .editor .editor_base_after > div .after_right_column .bottom_block .info_block div span {
  color: #3782d7;
}
.main_page .editor.full_screen {
  position: fixed !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 5000 !important;
}
.main_page .editor.full_screen .editor_head {
  width: auto;
}
.main_page .editor.full_screen .editor_base {
  width: auto;
  height: auto;
}
.main_page .result_out {
  width: 668px;
  margin-left: 84px;
}
.main_page .result_out .background_dash_image {
  background-image: url("../img/blue_dash.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}
.main_page .result_out .result_block_holder {
  height: 108px;
  background-image: url("../img/blue_dash.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  position: relative;
}
.main_page .result_out .result_block_holder .user_stick {
  position: absolute;
  left: -321px;
  top: 10px;
  padding: 5px 35px 35px;
  width: 231px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
.main_page .result_out .result_block_holder .user_stick div span {
  display: inline-block;
  min-width: 40px;
}
.main_page .result_out .result_block_holder .user_stick div span + span {
  color: #272e41;
}
.main_page .result_out .result_block_holder .user_stick .comment {
  font-family: san-serif;
  font-size: 12px;
  font-style: italic;
  color: #b6c1c6;
  font-family: 'Conv_pfagoraslabpro-italicwebfont', Sans-Serif;
  margin: 10px 0;
}
.main_page .result_out .result_block {
  height: 108px;
  width: 334px;
  float: left;
  font-size: 17px;
}
.main_page .result_out .result_block .top {
  text-transform: uppercase;
  width: 150px;
  font-size: 11px;
  line-height: 13px;
  color: #b6c1c6;
  height: 46px;
  padding-top: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .result_out .result_block .bottom {
  height: 54px;
  font-size: 30px;
  line-height: 55px;
}
.main_page .result_out .result_block .bottom span.digit_dark {
  color: #272e41;
  font-family: 'Conv_Pragmatica Bold', Sans-Serif;
}
.main_page .result_out .result_block .bottom span.slim_digit {
  color: #272e41;
}
.main_page .result_out .summ_result {
  height: 206px;
}
.main_page .result_out .summ_result .separate_result {
  display: block;
  height: 108px;
  border-bottom: 1px solid #3782d7;
  color: #272e41;
  font-size: 14px;
  padding: 40px 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main_page .result_out .summ_result .separate_result .result_line div {
  display: inline-block;
  width: 55%;
}
.main_page .result_out .summ_result .separate_result .result_line div + div {
  width: 30%;
}
.main_page .result_out .summ_result .top {
  height: 35px;
  padding-top: 18px;
}
.main_page .result_out .summ_result .bottom {
  line-height: 40px;
}
.main_page .result_out .result_text {
  background-image: url("../img/blue_dash.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  font-size: 14px;
  padding-bottom: 36px;
}
.main_page .result_out .sent_manager {
  padding: 36px 58px 36px 36px;
  text-align: right;
}
.main_page .result_out .sent_manager div {
  width: 271px;
  display: inline-block;
}
.main_page .result_out .sent_manager .fitalic {
  margin-top: 18px;
  text-align: left;
}
.main_page .result_out h1 {
  font-size: 21px;
  color: #272e41;
  text-transform: uppercase;
  margin: 36px 0 18px;
  font-family: 'Conv_Pragmatica Bold', Sans-Serif;
}
.main_page .result_out .file_name {
  color: #272e41;
  font-family: 'Conv_Pragmatica Bold', Sans-Serif;
}
.main_page .result_out .text_block {
  float: left;
  width: 334px;
}
.main_page .result_out .text_block .text_block_item {
  margin-top: 18px;
}
.main_page .result_out .text_block .text_block_item div span {
  color: #272e41;
  font-family: 'Conv_Pragmatica Bold', Sans-Serif;
}
.stick {
  position: absolute;
  left: 0;
  top: 780px;
  background-color: #f7f7f7;
  padding: 55px 35px 35px;
  border: 1px solid #e0e5ef;
  width: 231px;
  margin-left: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
.stick i.mark {
  background-position: -2px -340px;
  top: 24px;
  left: 30px;
  position: absolute;
}
.stick .stick_link {
  margin-top: 13px;
  font-size: 11px;
}
.footer {
  color: #3e4758;
  width: 752px;
  text-align: left;
  height: 40px;
  padding-top: 80px;
  padding-left: 350px;
}
.show_dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dialog_holder {
  position: fixed;
  z-index: 50;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.dialog_body {
  background-color: #ffffff;
  width: 706px;
  min-height: 200px;
  top: 40px;
  left: 50%;
  margin-left: -375px;
  position: fixed;
  z-index: 100;
}
.dialog_body .dialog_close {
  position: absolute;
  right: -25px;
  top: 3px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  background-image: url("../img/closeDialog.png");
  width: 16px;
  height: 16px;
}
.user_info_dialog {
  padding-bottom: 80px;
}
.user_info_dialog .img_holder {
  background-color: #f7f7f7;
}
.user_info_dialog .img_holder .img_svg {
  min-height: 200px;
  text-align: center;
}
.user_info_dialog .img_holder .remember_me {
  text-align: right;
  padding: 0 72px 18px;
}
.user_info_dialog .img_holder .remember_me input {
  visibility: hidden;
}
.user_info_dialog .img_holder .remember_me label {
  position: relative;
  font-size: 12px;
  line-height: 20px;
}
.user_info_dialog .img_holder .remember_me input + label:before {
  position: absolute;
  content: '';
  left: -24px;
  top: -3px;
  height: 16px;
  width: 16px;
  display: block;
  border: 1px solid #76a2ca;
  cursor: pointer;
}
.user_info_dialog .img_holder .remember_me input:checked + label:before {
  background-image: url("../img/main_sprite.png");
  background-repeat: no-repeat;
  background-position: -6px -459px;
}
.user_info_dialog .state_message {
  padding: 30px 100px;
  text-align: center;
  color: #858e93;
}
.user_info_dialog .form {
  padding: 20px 0 0 103px;
}
.user_info_dialog .form .horisontal_form_element {
  min-height: 30px;
  height: 65px;
  width: 228px;
  margin: 6px 36px 0 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.user_info_dialog .form .horisontal_form_element input {
  width: 100%;
  color: #858e93;
  font-size: 18px;
}
.user_info_dialog .form .horisontal_form_element .label {
  text-transform: uppercase;
  font-size: 10px;
}
.user_info_dialog .form .horisontal_form_element .label span {
  color: red;
}
.user_info_dialog .form .label {
  height: 20px;
}
.modal_body {
  width: 278px;
  background-color: #f7f7f7;
  border: 1px solid #d5dcea;
  padding: 30px 30px 15px;
  position: fixed;
  left: 50%;
  top: 40%;
  margin-left: -139px;
  box-shadow: 2px 2px 2px #ccc;
}
.modal_body .message {
  padding-left: 30px;
  position: relative;
}
.modal_body .message i {
  position: absolute;
  left: -5px;
  display: block;
  height: 20px;
  width: 20px;
  background-image: url('../img/main_sprite.png');
}
.modal_body .message i.alert {
  background-position: -6px -287px;
}
.modal_body .message i.info {
  background-position: -5px -230px;
}
.modal_body .buttons_holder {
  padding: 10px 10px 10px 20px;
}
.modal_body .buttons_holder .button {
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  margin: 0 10px;
  height: 35px;
  line-height: 37px;
  display: inline-block;
  min-width: 95px;
  padding: 0 15px;
  color: #858e93;
}
/*
POPUP
     paddin 40 30
     bg: f7f7f7
     color: 858e93
     stroke: d5dcea

     buttons
            color: 424c58
            stroke: e5e5e5
            14px uppercase
*/
