//generate from main.less
@import "reset";
@import "font";

//main styles
html {
  min-height: 100%;

}

use.selected {
  fill: #00ff00;
}

.fbold{
  font-family: 'Conv_Pragmatica Bold', Sans-Serif;
  font-weight: bold;
}

b{
  .fbold;
}

.fnormal {
  font-family: 'Conv_Pragmatica', Sans-Serif;
  font-weight: normal;
}

.fitalic {
  font-family: san-serif;
  font-size: 12px;
  font-style: italic;
  color: @link_color_active;
  //font: 'PFCentroSlabPro Italic' italic 12px #b6c1c6
  font-family: 'Conv_pfagoraslabpro-italicwebfont', Sans-Serif;
}

i.icon {
  background-image: url('../img/main_sprite.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

html.test {
  background-image: url("../png/2NEONLAB1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 2500px;
}

//Variables COLORS
@background_color: #fbfbfb;
@default_text_color: #858e93;
@default_dark_text_color: #272e41;
@link_color: #3782d7;
@link_color_active: #b6c1c6;
@editor_border: #e0e5ef;
@editor_background: #f7f7f7;

@blue_button: #498ad5;
@yellow_button: #ffde00;
@yellow_button_text: #424c58;

@grey_header_color: #cbd4de;

.box_sizing_border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.greyc {
  color: @link_color_active;
}

body {
  background-image: url("../img/grey_bg.png");
  background-repeat: repeat-x;
  background-position: 0 55px;
  min-height: 100%;
  background-color: @background_color;
  color: @default_text_color;
  font-size: 14px;
  font-family: 'Conv_Pragmatica', Sans-Serif;
}

b {
  font-family: "Conv_Pragmatica Bold";
}

.disabled{
  opacity: 0.4;
}

.hidden {
  display: none;
}

.vr {
  display: inline-block;
  min-height: 15px;
  min-width: 1px;
  margin: 0 2px;
  background-color: @link_color_active;
  position: relative;
  top: 3px;
}

.clear {
  float: none !important;
  clear: both;
}

input,
.button {
  .box_sizing_border_box;
  height: 45px;
  min-width: 20px;
}

.button {
  color: white;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.blue_button {
  background-color: @blue_button;
  box-shadow: 0px 2px 2px rgba(176, 191, 204, 0.5);
}

.yellow_button {
  background-color: @yellow_button;
  color: @yellow_button_text;
  box-shadow: 0px 2px 2px rgba(218, 184, 32, 0.75);
}

input[type='text'] {
  border: 1px solid #cbcbcb;
  padding: 8px;
  font-size: 21px;
  color: @yellow_button_text;
}

a,
a:hover,
a:visited,
a:active {
  color: @link_color;
  text-decoration: none;
}

a.selected {
  color: @link_color_active;
}

.wrapper {
  min-width: 1022px;
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.head_nav {
  height: 55px;
  width: 100%;
  font-family: Verdana, Helvetica, "san-serif";

  ul {
    list-style: none;
    float: right;

    li {
      float: left;
      line-height: 55px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 20px;
    }
  }
}

.head_grey {
  height: 87px;
  color: white;
  padding-left: 29px;
  margin-bottom: 18px;
  //  background-image: url("../img/logo.png");
  //  background-image: url("../img/logo_finish.png");
  background-image: url("../img/logo_finish_may.png");
  background-repeat: no-repeat;
  background-position: center right;

  h1 {
    font-size: 21px;
    text-transform: uppercase;
    padding: 6px;
    font-weight: normal;
    line-height: 1.2;
  }
  p {
    font-size: 12px;
    color: @grey_header_color;
    padding-left: 6px;
  }
}

.comment {
  .fitalic;
  margin: 5px 0;
}

.left_column {
  float: left;
  width: 214px;
  margin-right: 24px;
  padding-left: 29px;
  position: relative;

  h2 {
    font-size: 12px;
    //    text-transform: uppercase;
    font-weight: normal;
    margin: 18px 0 8px;
    padding-left: 8px;
  }

  #file_upload {
    input {
      //      visibility: hidden;
      //      opacity: 0;
      display: none;
      position: absolute;
      width: 140px;
      z-index: 10;
      left: 0;
      cursor: pointer;
    }
  }

  .yellow_button {
    display: inline-block;
    width: 141px;
    vertical-align: top;
    overflow: hidden;
  }

  .blue_button:before,
  .yellow_button:before,
  .deep_form:before {
    display: block;
    position: absolute;
    height: 45px;
    line-height: 50px;
    width: 20px;
    content: '1.';
    text-align: 'center';
    color: @link_color_active;
    left: 0px;
  }

  .blue_button:before {
    content: '3.';
  }

  .deep_form:before {
    content: '2.';
    top: 0px;
    left: -25px;
  }

  .blue_button_after {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-image: url("../img/main_sprite.png");
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
    .click_area {
      position: relative;
      width: 20px;
      height: 20px;
      top: 13px;
      left: 8px;
    }

    .status_text {
      position: relative;
      z-index: 100;

      .status_text_message {
        position: absolute;
        bottom: -45px;
        left: 40px;
        padding: 40px;
        width: 172px;
        background: @editor_background;
        box-shadow: 1px 2px 4px #ccc;
        color: @default_text_color;
      }
    }
  }

  .blue_button_after.none__ {
    background-image: none;
  }

  .blue_button_after.question {
    background-position: 4px -106px;
  }

  .blue_button_after.remove {
    background-image: url("../img/remove_img.png");
    background-position: 7px 12px;
  }

  .blue_button_after.success {
    //    background-position: 4px 8px;
    background-position: 7px 11px;
    background-image: url("../img/iconok.png");
  }

  .blue_button_after.error {
    background-position: 4px -48px;
  }

  .blue_button_after.loading {
    background-position: 4px 8px;
    background-image: url("../img/loading_3.gif");
  }

  input[type='text'] {
    width: 100%;
    padding-right: 40px;
    //border: 1px solid cbcbcb
    //color1 275a08
    //color2 b6c1c6
  }

  .deep_form {
    position: relative;

    .deep_size {
      display: block;
      width: 20px;
      height: 45px;
      line-height: 50px;
      position: absolute;
      right: 3px;
      top: 0px;
      padding-right: 15px;
    }
  }

  .blue_button {
    margin-top: 36px;
  }
  .comment {
    padding: 18px 12px 18px 0;
    margin: 22px 0 0 0;
  }
}

.main_page {
  width: 752px;
  float: left;

  .editor {
    margin-top: 18px;

    > div {
      border-radius: 2px;
    }

    .editor_head {
      width: 750px;
      height: 34px;
      border: 1px solid @editor_border;
      border-bottom: none;
      background-color: white;
      position: relative;

      .instruments_holder {
        padding-left: 5px;

        i {
          background-position: center center;
          height: 32px;
          width: 34px;
          margin: 1px 0;
          opacity: 0.6;
        }

        i.selected {
          opacity: 1;
        }

        .item_edit {
          background-image: url('../img/canvas/accrow_move.png');
        }
        .item_add {
          background-image: url('../img/canvas/accrow_add.png');
        }
        .item_remove {
          background-image: url('../img/canvas/accrow_remove.png');
        }
        .item_move {
          background-image: url('../img/canvas/move_active.png');
        }
        .item_select {
          background-image: url('../img/canvas/select.png');
        }

      }

      .file_name{
        font-size: 12px;
        position: absolute;
        height: 30px;
        line-height: 30px;
        right: 200px;
        top:2px;
        .fbold;
        color: @default_dark_text_color;
      }

      .button {
        width: 170px;
        height: 30px;
        line-height: 33px;
        display: inline-block;
        position: absolute;
        right: 2px;
        top: 2px;
        .blue_button;

        i {
          width: 16px;
          height: 16px;
          vertical-align: middle;
          background-position: -7px -403px;
          margin-right: 3px;
          z-index: 500;
        }
      }

      .input_select {
        //triangl: a6a5a3
        //color: #858e93
        //stroke: e7ecf1
      }
    }
    .editor_base.moveItem {
      cursor: url("../img/canvas/accrow_move.cur"), pointer;
    }
    .editor_base.addItem {
      cursor: url("../img/canvas/accrow_add.cur"), pointer;
    }
    .editor_base.removeItem {
      cursor: url("../img/canvas/accrow_remove.cur"), pointer;
    }
    .editor_base.selectItem {
      cursor: url('../img/canvas/select.cur') 0 15, pointer;
    }

    .editor_base.default {
      //      cursor: move;
      cursor: url("../img/canvas/move_active.cur") 5 2, move;
    }

    .editor_base {
      width: 750px;
      height: 458px;
      border: 1px solid @editor_border;
      background-color: @editor_background;
      overflow: hidden;
      position: relative;
      //background-iamge: +(dash 8+5- #d7e2ec)

      .zoom_pane {
        position: absolute;
        right: 3px;
        top: 18px;
        z-index: 100;

        .zoom_in {
          background-image: url('../img/canvas/zoom_in.png');
        }
        .zoom_out {
          background-image: url('../img/canvas/zoom_out.png');
        }
        .zoom_fit {
          background-image: url('../img/canvas/zoom_fit.png');
        }
        .zoom_full {
          background-image: url('../img/canvas/zoom_1_1.png');
        }
      }

      .big_loader {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-image: url("../img/loading_ma.gif");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.15);

        #complete_process{
          font-size: 8px;
          position: absolute;
          width: 40px;
          height: 40px;
          overflow: hidden;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          margin: -20px 0 0 -18px;
        }
      }
    }

    .editor_base_after {
      > div {
        height: 36*3px;
        background-color: #ffffff;
        border: 1px solid @editor_border;
        border-width: 0px 1px 1px 1px;
        .box_sizing_border_box;

        .after_left_column {
          position: absolute;
          width: 320px;
          padding: 10px 18px;
          .box_sizing_border_box;

          h1 {
            text-transform: uppercase;
            color: @default_dark_text_color;
            margin: 0 0 10px 0;
          }
          .label {
            color: @link_color_active;
            display: inline-block;
            vertical-align: top;
            width: 30%;
            font-size: 11px;
          }
          .data {
            display: inline-block;
            width: 68%;
            color: @default_dark_text_color;
            font-size: 12px;
            line-height: 15px;
            padding-top: 3px;
          }
        }
        .after_right_column {
          padding: 10px 18px 10px 320px;
          .box_sizing_border_box;
          overflow: auto;

          > div {
            //            border: 1px solid #3782d7;
          }

          .top_block {
            min-width: 870px;
            text-align: justify;
            .box_sizing_border_box;
            .info_block {
              display: inline-block;
              width: 13.8%;
              .box_sizing_border_box;
              padding: 5px 5px 0 5px;
              h3 {
                font-size: 10px;
                text-transform: uppercase;
                .fnormal;
                line-height: 12px;
              }
              span {
                font-size: 20px;
              }
              span.digit_dark {
                .fbold;
                color: @default_dark_text_color;
              }
              span.points {

              }
            }
          }
          .bottom_block {
            .box_sizing_border_box;
            .info_block {
              color: @link_color_active;
              font-size: 11px;
              display: inline-block;
              width: 27%;
              padding: 0 5px;
              vertical-align: top;
              div {
                line-height: 14px;

                span {
                  color: @link_color;
                }
              }
            }
          }
        }
      }
    }
  }

  .editor.full_screen {
    position: fixed !important;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 5000 !important;

    .editor_head {
      width: auto;
    }

    .editor_base {
      width: auto;
      height: auto;
    }
  }

  .result_out {
    width: 668 + 84px;
    //    margin-left: 84px;

    .background_dash_image {
      background-image: url("../img/blue_dash.png");
      background-repeat: repeat-x;
      background-position: left bottom;
    }

    .result_block_holder {
      height: 108px;
      .background_dash_image;
      position: relative;
    }

    .result_block {
      height: 108px;
      width: 334+42px;
      float: left;
      font-size: 17px;
      padding-left: 50px;
      .box_sizing_border_box;
      //block1:
      //font1: 10px b6c1c6 uppercase
      //font2: 30px 272e41

      .top {
        text-transform: uppercase;
        width: 150px;
        font-size: 11px;
        line-height: 13px;
        color: @link_color_active;
        height: 46px;
        padding-top: 24px;
        .box_sizing_border_box;
      }

      .bottom {
        height: 54px;
        font-size: 30px;
        line-height: 55px;

        > span {
          //          width: 40%;
          display: inline-block;
        }

        span.digit_dark {
          color: @default_dark_text_color;
          font-family: 'Conv_Pragmatica Bold', Sans-Serif;
        }
        span.slim_digit {
          color: @default_dark_text_color;
        }
        span.points {

        }
      }
    }

    .table_left_bar_info {
      position: absolute;
      left: -235px;
      top: 0px;
      padding: 0;
      width: 231px;
      .box_sizing_border_box;

      .result_block {
        padding: 10px 0 0 0;
        width: auto;
        margin: 0;
        height: 90px;
        float: none;
        .top {
          height: 20px;
          line-height: 20px;
          padding: 0;
          margin: 0;
        }
        .bottom {
          height: 40px;
          line-height: 40px;
          padding: 0;
          margin: 0;
        }
      }

      .user_stick {
        font-size: 12px;

        div {

          span {
            display: inline-block;
            min-width: 40px;
          }
          span + span {
            color: @default_dark_text_color;
          }
        }

        .comment {
          margin: 10px 0;
        }
      }

    }

    .summ_result {
      background-image: none;
      .bottom {
        line-height: 40px;
        height: 40px;
        padding-top: 20px;

        span.slim_digit {
          color: @yellow_button_text !important;
        }
      }
      .afterbottom {
        color: @link_color_active;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .result_text {
      .background_dash_image;
      font-size: 14px;
      padding-bottom: 36px;
      padding-left: 50px;
    }

    .sent_manager {
      padding: 10px 0px 30px 50px;
      text-align: right;

      > div {
        padding-bottom: 15px;
        div {
          width: 271px;
          display: inline-block;
        }
      }

      .fitalic {
        margin-top: 15px;
        text-align: left;
      }
    }

    h1 {
      font-size: 21px;
      color: @default_dark_text_color;
      text-transform: uppercase;
      margin: 36px 0 18px;
      font-family: 'Conv_Pragmatica Bold', Sans-Serif;
    }

    .file_name {
      color: @default_dark_text_color;
      font-family: 'Conv_Pragmatica Bold', Sans-Serif;
    }
    .text_block {
      float: left;
      width: 334px;

      .text_block_item {
        margin-top: 18px;

        div {
          span {
            color: @yellow_button_text;
            //            font-family: 'Conv_Pragmatica Bold', Sans-Serif;
          }
        }
      }
    }

    .text-table {
      width: 100%;
      color: @yellow_button_text;
      position: relative;

      .tcell {
        display: block;
        min-height: 60px;
        line-height: 60px;
        float: left;
        padding: 0 5px;
        .box_sizing_border_box;
      }
      .cell1 {
        width: 6.65%;
        text-align: center;
      }

      .cell2 {
        width: 42.35%;
      }

      .cell3 {
        width: 17%;
      }

      .cell4 {
        width: 17%;
      }

      .cell5 {
        width: 17%;
      }

      .thead {
        .background_dash_image;
        width: 100%;
        height: 60px;

      }
      .tbody {
        .background_dash_image;
        padding-bottom: 10px;

        .trow {
          margin: 20px 0 0px 0;
        }

        .cell2 {
          span {
            display: block;
            line-height: 20px;
          }
        }

        .cell3,
        .cell4,
        .cell5 {
          .fbold;
          color: @default_dark_text_color;
        }
      }
    }

  }
}

.stick {
  background-color: @editor_background;
  padding: 55px 35px 35px 50px;
  border: 1px solid @editor_border;
  .box_sizing_border_box;
  font-size: 12px;
  line-height: 20px;
  position: relative;

  i.mark {
    background-position: -2px -340px;
    top: 24px;
    left: 43px;
    position: absolute;
  }

  .stick_link {
    font-size: 14px;
    text-align: right;
    margin-top: -20px;

    span {
      margin: 0 5px;
    }
  }
}

.footer {
  color: #3e4758;
  width: 752px;
  text-align: left;
  height: 40px;
  padding-top: 80px;
  padding-left: 315px;
}

.show_dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dialog_holder {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.dialog_body {
  background-color: #ffffff;
  width: 610px;
  min-height: 200px;
  top: 20px;
  left: 50%;
  margin-left: -305px;
  position: absolute;
  //  position: fixed;
  z-index: 10000;

  .dialog_close {
    position: absolute;
    right: -30px;
    top: 3px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    background-image: url("../img/closeDialog.png");
    width: 24px;
    height: 24px;
  }
}

.user_info_dialog {
  padding-bottom: 60px;

  .img_holder {
    background-color: @editor_background;
    height: 210px;
    border-bottom:1px solid #d5dcea;

    .img_svg {
      padding-top: 20px;
      min-height: 162px;
      text-align: center;

      svg {
        height: 150px;
      }

    }

    .remember_me {
      text-align: right;
      padding: 0 50px 5px;
      height: 30px;
      input {
        visibility: hidden;
        height: auto;
      }
      label {
        position: relative;
        font-size: 12px;
        line-height: 20px;
      }
      input + label:before {
        position: absolute;
        content: '';
        left: -24px;
        top: -3px;
        height: 16px;
        width: 16px;
        display: block;
        border: 1px solid #76a2ca;
        cursor: pointer;
      }
      input:checked + label:before {
        background-image: url("../img/main_sprite.png");
        background-repeat: no-repeat;
        background-position: -6px -459px;
      }
    }
  }

  .state_message {
    padding: 20px 60px;
    text-align: center;
    color: @default_text_color;
  }

  .form {
    padding: 20px 0 0 63px;
    .horisontal_form_element {
      min-height: 30px;
      height: 65px;
      width: 227px;
      margin: 6px 30px 0 0;
      float: left;
      .box_sizing_border_box;
      position: relative;

      input {
        width: 100%;
        color: @default_text_color;
        font-size: 18px;
      }

      .label {
        text-transform: uppercase;
        font-size: 10px;

        span {
          color: red;
        }
      }
    }
    .label {
      height: 20px;
    }
  }
}

.modal_body {
  width: 278px;
  background-color: @editor_background;
  border: 1px solid #d5dcea;
  padding: 30px 30px 15px;
  position: fixed;
  left: 50%;
  top: 40%;
  margin-left: -139px;
  box-shadow: 2px 2px 2px #ccc;
  z-index: 10001;

  .message {
    padding-left: 30px;
    position: relative;

    i {
      position: absolute;
      left: -5px;
      display: block;
      height: 20px;
      width: 20px;
      background-image: url('../img/main_sprite.png');
    }

    i.alert {
      background-position: -6px -287px;
    }

    i.info {
      background-position: -5px -230px;
    }

    p {

    }
  }

  .buttons_holder {
    padding: 10px 10px 10px 20px;
    //    text-align: center;
    .button {
      text-transform: uppercase;
      font-size: 14px;
      border: 1px solid #e5e5e5;
      margin: 0 10px;
      height: 35px;
      line-height: 37px;
      display: inline-block;
      min-width: 95px;
      padding: 0 15px;
      color: @default_text_color;
    }
  }

}

.diode_settings {
  position: absolute;
  top: 50px;
  left: 50px;

  .pointer-item {
    position: absolute;
    width: 23px;
    height: 30px;
    z-index: 100;
    top: 18px;
    left: 2px;
    background-image: url("../img/canvas/pointer.png");
    background-position: right center;
    background-repeat: no-repeat;
  }

  .content-block {
    margin-left: 23px;
    width: 243px;
    min-height: 100px;
    background-color: @editor_background;
    border: 1px solid #b4bac0;
    -moz-box-shadow: 1px 1px 3px #b4bac0;
    -webkit-box-shadow: 1px 1px 3px #b4bac0;
    box-shadow: 1px 1px 3px #b4bac0;
    .box_sizing_border_box;
    padding: 20px;

    label{
      .fbold;
      font-size: 10px;
      height: 25px;
      line-height: 34px;
      display: block;
      overflow: hidden;
    }

    input[type='text']{
      width: 100%;
      color: @link_color;
    }
    .inp_comment{
      position: absolute;
      height: 45px;
      line-height: 45px;
      color: @link_color_active;
      top: 0;
      right: 10px;
    }
  }
}

.form_row_input {
  position: relative;

  .fake_select {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    color: @link_color;
    border: 1px solid #b4bac0;
    background: #ffffff; /* Old browsers */
    height: 45px;
    line-height: 44px;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    font-family: "HelveticaNeue Bold", Tahoma, Helvetica, serif;
    position: relative;
    .box_sizing_border_box;
  }
  .fake_select_body {
    width: 100%;
    .box_sizing_border_box;
    position: absolute;
    max-height: 250px;
    height: auto;
    overflow-y: auto;
    top: 44px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #b4bac0;
    box-shadow: 2px 2px 3px #dee9f4;
    z-index: 100;

    li {
      display: block;
      margin: 0;
      cursor: pointer !important;
      padding: 0px 8px;
      height: 45px;
      line-height: 45px;
      font-weight: bold;
      color: @default_dark_text_color;
    }

    li:hover{
      background-color: #4085D9;
      color: #ffffff;
    }

    li.selected {
      background-color: #fefefe;
      color: @default_text_color;
    }

  }

  .fake_select:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    right: 11px;
    top: 50%;
    margin-top: -3px;
    border-top: 6px solid #888;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

.form_row_input.split_input {
  .fake_select {
    width: 14%;
    border-radius: 0 3px 3px 0;
  }
  .fake_select:before {
    border: none;
  }
}

//@media all and (-ms-high-contrast:none)
//{
//  .foo { color: green } /* IE10 */
//  *::-ms-backdrop, .foo { color: red } /* IE11 */
//}
/*
POPUP
     paddin 40 30
     bg: f7f7f7
     color: 858e93
     stroke: d5dcea

     buttons
            color: 424c58
            stroke: e5e5e5
            14px uppercase
*/

/*
d5dcea
5 5 shadow 75% d5dcea

+ Ашан достает до верха
+ Область захвата диодов
- Тултипы на иконках
- новые диоды
- придумать с блоками может скролл
+ скрол формы вконтактов

- после удаления обнулить все общее количество светодиодов
- по кнопке назад закрыть окно а не идти назад
*/